.dashboard-layout-container1 {
  box-sizing: border-box;
  min-width: 297px;
}
.dashboard-layout-container {
  padding-right: 60px;
  padding-left: 60px;
}
.image-container {
  box-sizing: border-box;
  display: block;
  width: 166px;
  max-width: initial;
  height: 166px;
  border: none;
  object-fit: cover;
}
