.dark-panel-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  padding-top: 153px;
  padding-bottom: 51px;
  margin-top: -142px;
  background: #211d1d;
  border-radius: 20px;
}
.dashboard-header-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 62px;
  padding-right: 20px;
  padding-left: 20px;
  background: linear-gradient(0deg, rgba(50, 49, 49, 1) 0%, rgba(82, 82, 82, 1) 50.5%, rgba(45, 43, 43, 1) 100%);
  border: 1px solid black;
  border-radius: 10px;
}
.svg-container {
  display: flex;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
}
.dashboard-title {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-left: 18px;
  font: 600 24px Roboto, sans-serif;
  color: #d7e0ef;
}
.cost-display-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 14.5px;
  padding-left: 14.5px;
}
.currency-symbol-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 600 30px Roboto, sans-serif;
  color: #d7e0ef;
}
.product-info-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  padding-bottom: 5px;
  margin-left: -26.5px;
}
.product-thumbnail-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid gray;
  border-radius: 3px;
}
.product-thumbnail-container input:checked + img {
  display: block;
}
.hidden-input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}
.hidden-icon {
  display: none;
  width: 32px;
  max-width: initial;
  height: 32px;
  margin-top: -1px;
  margin-left: -1px;
}
.img-content-4ed0fa3c {
  content: url("/assets/image_cb9f8f45.png");
}
.product-title-text-style {
  margin-left: 13.5px;
  font: 600 22px Roboto, sans-serif;
  color: #d7e0ef;
}
.inventory-section-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 17px;
  padding-left: 15px;
  margin-top: -8px;
}
.inventory-section {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg-container3 {
  display: flex;
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  color: #d7e0ef;
}
.inventory-title-style {
  flex: 0 0 auto;
  padding: 0;
  padding-bottom: 3px;
  margin: 0;
  margin-left: 15px;
  font: 600 22px Roboto, sans-serif;
  color: #d7e0ef;
}
.inventory-section1 {
  flex: 0 0 auto;
  padding-top: 10.5px;
  padding-bottom: 3.75px;
}
.svg-container4 {
  display: flex;
  width: 16px;
  height: 16px;
}
.payment-reports-section {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding-right: 17px;
  padding-left: 18px;
  margin-top: -2.25px;
}
.flex-row-with-icon {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.svg-container5 {
  display: flex;
  flex: 0 0 auto;
  width: 28px;
  height: 27px;
  color: #d7e0ef;
}
.report-title-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-left: 14px;
  font: 600 22px Roboto, sans-serif;
  color: #d7e0ef;
}
.svg-container2 {
  display: flex;
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
}
.central-content-block {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 17px;
  padding-left: 18px;
  margin-top: 9px;
}
.report-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.svg-container6 {
  display: flex;
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  margin-left: 24px;
}
.review-section-title-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 18px;
  padding-left: 18px;
  margin-top: 2.75px;
}
.svg-container7 {
  display: flex;
  flex: 0 0 auto;
  width: 31px;
  height: 31px;
}
.review-title-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-left: 11px;
  font: 600 22px Roboto, sans-serif;
  color: #d7e0ef;
}
.vertical-menu-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-right: 21px;
  padding-left: 21px;
  margin-top: 145px;
}
.svg-container8 {
  display: flex;
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  color: #a7c3ef;
}
.settings-title {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-left: 9px;
  font: 600 22px Roboto, sans-serif;
  color: #a7c3ef;
}
.user-actions-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 29px;
}
.logout-button-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-left: 8px;
  font: 600 22px Roboto, sans-serif;
  color: #a7c3ef;
}
